<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gootdate.mapper.replyMapper">
	<!--select-->
	<select id="replyList" resultType="com.gootdate.domain.CSReplyVo">
  		select * from csreply where bno=#{bno}
  	</select>
	<!--inert-->
	<insert id="create">
		insert into csreply(bno,contents,replyer,issecret,parentno) values(#{bno},#{contents},#{replyer},#{isSecret},#{parentno})
	</insert>
	<!--update-->
	<update id="modify">
		update csreply set contents=#{contents},date=now(), issecret=#{isSecret} where no=#{no}
	</update>
	<!--delete-->
	<delete id="remove">
		delete from csreply where no= #{no} or parentno=#{no}
	</delete>
</mapper>